{%  extends 'plenosapp/_base.html' %}
{% load static %}
{% block title %}Uppps! pagina no encontrada!{% endblock %}
{% block pagetitle %}
    <h2>Pagina no encontrada</h2>
    <p>Prueba a volver al inicio.</p>
    <a class="btn btn-ghost" href="{% url "index" %}">Inicio</a>
{% endblock %}
{% block content %}
    <!-- CurveUp -->
    <svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>

{% endblock %}