<!doctype html>
<!--
	The7 by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- favico stuff -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png"%}">
        <link rel="shortcut icon" type="image/ico" href="{%  static "favicon.ico" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon32x32.png"%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon16x16.png"%}">
        <link rel="manifest" href="{% static "site.webmanifest"%}">
        <link rel="mask-icon" href="{% static "safari-pinned-tab.svg"%}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}Plenos | Acercando los plenos{% endblock %}</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="{% static "/css/reset.css" %}">
        <link rel="stylesheet" href="{% static "/css/simplegrid.css" %}">
        <link rel="stylesheet" href="{% static "/css/icomoon.css"%}">
        <link rel="stylesheet" href="{% static "/css/lightcase.css"%}">
        <link rel="stylesheet" href="{% static "/js/owl-carousel/owl.carousel.css"%}"/>
        <link rel="stylesheet" href="{% static "/js/owl-carousel/owl.theme.css"%}"/>
        <link rel="stylesheet" href="{% static "/js/owl-carousel/owl.transitions.css"%}"/>
        <link rel="stylesheet" href="{% static "/css/style.css"%}">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


        <!-- Google analytics -->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JPD8T3S62M"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-JPD8T3S62M');
        </script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7204576306808986"
        crossorigin="anonymous"></script>
        <![endif]-->
        </head>
        <body id="home">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v17.0&appId=396805547057930&autoLogAppEvents=1" nonce="t99c3F1T"></script>

            <!-- Header -->
            <header id="top-header" class="header-home">
                <div class="grid">
                    <div class="col-1-3">
                        <img src="{% static "/images/logo.png" %}">
                    </div>
                    <div class="col-2-3">
                        <div class="content">

                            <nav class="navigation">
                                <input type="checkbox" id="nav-button">
                                <label for="nav-button" onclick></label>
                                <ul class="nav-container">
                                    <li><a href="{% url "index" %}" class="current">Inicio</a></li>
                                    {% block navigation %}
                                        <li><a href="{% url "search" %}">Localidades</a></li>
                                        <li><a href="{% url "search" %}">Concejales</a></li>
                                    {%  endblock %}
                                    <li><a href="https://www.facebook.com/share.php?u={{ request.build_absolute_uri }}" target="_blank">Comparte en FB</a></li>
                                    <li><a href="{% url "contribute" %}">Colabora!</a></li>
                                    <li><a href="#about">Acerca de</a></li>
                                    <li><a href="#contact">Contacto</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->

        {% block content %}{% endblock %}

        <!-- Footer -->
        <footer class="wrap">
            <div class="grid grid-pad" >
                <div class="col-1-4">
                    <div class="content">
                        <div class="footer-widget">
                            <h3 id="about">Acerca de nosotr@s</h3>
                            <div class="textwidget">
                                <p>Somos simplemente ciudadan@s interesados en acercar la información de los plenos a sus ciudadanos.</p><br>
                                <p>Inicilmente pensada pensada para Colmenarejo, ha sido diseñada para poderse usar con culquier otro municipio.</p><br>
                                <p>Si te interesa colaborar encuentra más información <a href="{% url "contribute" %}">aqui</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4" >
                    <div class="content">
                        <div class="footer-widget">
                            <h3>¿Que puedes encontrar aquí?</h3>
                            <div class="fwidget">
                                <ul>
                                    <li>Plenos con sus videos</li>
                                    <li>Su documentación asociada</li>
                                    <li>Votaciones realizadas</li>
                                    <li>Quien votó qué</li>
                                    <li>Organizado por</li>
                                    <li>Localidades, partidos y concejales</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
{#                <div class="col-1-4" >#}
{#                    <div class="content">#}
{#                        <div class="footer-widget">#}
{#                            <h3>More info</h3>#}
{#                            <div class="textwidget">#}
{#                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>#}
{#                                <br>#}
{#                                <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="col-1-2" >
                    <div class="content">
                        <div class="footer-widget">
                            <h3 id="contact">Contacta con nosotros</h3>
                            <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61551060811365" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/profile.php?id=61551060811365" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=61551060811365">Plenos</a></blockquote></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-footer">
                <div class="grid grid-pad">
                    <div class="col-1-1" >
                        <div class="content">
                            <div class="social-set">
                                <a  href="https://www.facebook.com/profile.php?id=61551060811365"><i class="icon-facebook"></i></a>
                            </div>
{#                            <p class="source-org copyright">© 2016 | All Rights Reserved Created By <a href="http://templatestock.co">Template Stock</a></p>#}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <div class="loader-overlay">
            <div class="loader">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        <!-- JS -->
        <script src="{% static "/js/jquery.js"%}"></script>
        <script src="{% static "/js/main.js"%}"></script>
        <script src="{% static "/js/mixitup.js"%}"></script>
        <script src="{% static "/js/smoothscroll.js"%}"></script>
        <script src="{% static "/js/jquery.nav.js"%}"></script>
        <script src="{% static "/js/owl-carousel/owl.carousel.min.js"%}"></script>
{#        <script src="https://maps.googleapis.com/maps/api/js"></script>#}
        <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="{% static "/js/jquery.counterup.min.js"%}"></script>
        <script src="{% static "/js/lightcase.min.js"%}"></script>
    </body>
</html>