{%  extends 'plenosapp/_base.html' %}
{% load static %}

{% block content %}
    <!-- Parallax Section -->
    <div class="parallax-section parallax1">
        <div class="grid grid-pad">
            <div class="col-1-1">
                 <div class="content content-header" >
                    <h2>Página de político</h2>
                    <p>Aqui veras los datos que tenemos de {{ politician }} </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Parallax Section -->

    <!-- CurveUp -->
    <svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>

    <!-- Blog Section -->
    <div class="wrap blog-grid" id="blog">
        <div class="grid grid-pad">
            <div class="content" >
                <h2>{{ politician}}</h2>
                <div class="col-1-3" >
                    <article class="post-wrap">
                        <div class="post-img">
                            <img src="{{ politician.picture.url }}" alt="">
                        </div>
                        <div class="post">
                            <h2 class="entry-title">Su foto</h2>
                            <a href="{% if politician.picture %}{{ politician.picture.url }}{% else %}{%  static "images/team/profile.png" %}{% endif %}">Su página</a>
                        </div>
                    </article>
                </div>
                <div class="col-1-3" >
                    <article class="post-wrap">
{#                        <div class="post-img">#}
{#                            <a href="#0"><img src="{% static "/images/post/post-n2.jpg" %}" alt=""></a>#}
{#                        </div>#}
                        <div class="post">
                            <h2 class="entry-title"><a href="#0">Partidos</a></h2>
                            <div class="post-meta">
                                {%  for job in politician.job_set.all %}
                                    {{ job.start}} - {{ job.end|default_if_none:"Actualidad"}}
                                    <span class="mid-sep">·</span>
                                    {{ job.party }}
                                    <span class="mid-sep">·</span>
                                    <a href="{% url "town" town_id=job.town_id %}">{{ job.town }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-1-3" >
                    <article class="post-wrap">
                        <div class="post-img">
                            <a href="#0"><img src="{% static "/images/post/post-n1.webp" %}" alt=""></a>
                        </div>
                        <div class="post">
                            <h2 class="entry-title"><a href="#0">Votaciones</a></h2>
                            {% for job in politician.job_set.all %}
                                {%  for vote in job.vote_set.all %}
                                    <a href="{% url "voting" voting_id=vote.voting_id %}">{{ vote.voting.title }}</a>: <span style="background-color: {{ vote.positive|yesno:"green,red,orange" }}">{{ vote.positive|yesno:"A FAVOR,EN CONTRA,ABSTENCION" }}</span>
                                {%  endfor %}
                            {% endfor %}

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Section -->

    <!-- CurveDown -->
    <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>

{% endblock %}